html,
body {
  background-image: url("https://getwallpapers.com/wallpaper/full/e/4/6/432360.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 88%;
  font-family: "Numans", sans-serif;
}
h1 {
  font-family: Cambria;
  color: rgb(88, 83, 76);
}

form {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background: #726143a6;
  border-radius: 5px;
  position: relative;
  font-family: "Libre Franklin", sans-serif;
  & > div {
    float: left;
    margin-bottom: 30px;
    & > p {
      font-size: 12px;
      margin-bottom: 3px;
    }
    & > input {
      font-size: 12px;
      letter-spacing: 1px;
      padding: 5px;
      border: 0;
      background: whitesmoke;
      border-bottom: 1px solid silver;
      width: 100%;
      color: gray;
    }
  }
  & > p {
    &:last-of-type {
      text-align: center;
      padding-top: 50px;
      display: table;
      width: 100%;
      color: white;
      & > a {
        cursor: pointer;
        border: 0;
        padding: 10px 25px;
        background: silver;
        border-radius: 28px;
        font-size: 12px;
      }
    }
  }
  & > a {
    &:last-of-type {
      position: absolute;
      bottom: 10px;
      right: 15px;
      font-size: 10px;
      letter-spacing: 1px;
      font-style: italic;
    }
  }
}
.term {
  padding-top: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  & > i {
    cursor: pointer;
    width: 20px;
  }
  & > span {
    font-size: 12px;
  }
}

.bg-custom {
  background-color: rgba(245, 222, 179, 0.835);
}
.bg-custom1 {
  background-color: rgba(156, 114, 86, 0.568);
}

.feed-posts{
  background-color: rgb(107, 74, 74);
  width : 80%;
}

.all-users{
  list-style: disc;
  li{
    a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: black;
 }
  }
}