<div>
    <h3> Hello , <%= comment.user.name %> !!!</h3>
    
    <p> Your comment <b> <%= comment.content %> </b> has been published on the <b> Codeial </b> website. </p>

    <p> We hope you like the user experience of the website. Feel free to send any feedback related to your experience.
        We would love to hear from you.
    </p>
    
    <p> Thanks.</p>
</div>